// About section styles
.about {
    color: $black;
    background-color: $grey;

    .cursor {
        animation: flashingText 1s infinite;
    }

    @keyframes flashingText{
        0%  {   color: $black;}
        49% {   color: $black; }
        60% {   color: transparent; }
        99% {   color:transparent;  }
        100%{   color: $black;    }
    } 
    
    h2 {
        width: 50%;
        margin: 0 auto;
    }

    h3 {
        margin: 0 auto;
    }

    button {
        color: $white;
        font-family: $font;
        border: 2px solid transparent;
        background-color: $black;
        padding: 20px;
        margin: 30px 0;

        &:hover,
        &:focus {
            color: $black;
            background-color: $white;
            border: 2px solid $black;
        }
    }

    p {
        text-align: left;
    }

    .title {
        margin: 30px auto;

        &::before {
            background-color: $yellow;
        }
    }
}