header {
	display: flex;

	.headerLeft,
	.headerRight {
		height: 100vh;
		background-size: cover;
		background-position: center;
	}

	.headerLeft {
		width: 60vw;
		background-image: url(../assets/backgroundHeaderLeft.png);
		position: relative;

		p {
			position: absolute;
			top: 200px;
			right: 10px;
		}
	}

	.headerRight {
		width: 40vw;
		min-width: 475px;
		background-image: url(../assets/backgroundHeaderRight.png);
		position: relative;

		// //Nav Styles
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: flex-end;

			li {
				padding: 5px 10px;
				margin: 20px 10px;

				a {
					color: $black;
				}
			}
		}

		.headerText {
			position: absolute;
			top: 212px;
			left: 10px;
		}
	}

	i {
		font-size: 4rem;

		&:hover {
			color: $yellow;
			transform: scale(1.25);
		}
	}
}

// h1 {
// 	position: absolute;
// 	top: 200px;
// 	right: 490px;
// }

// .headerText {
// 	position: absolute;
// 	top: 350px;
// 	right: 410px;
// }





//SYL CODES LOGO STYLES
@mixin stroke-width($property) {
	-webkit-text-stroke-width: $property;
	-moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
	-webkit-text-stroke-color: $property;
	-moz-text-stroke-color: $property;
}

.heading {
	font-size: 8rem;
	letter-spacing: 6px;
    margin: 0;
    font-family: $fontHeading;
    font-weight: 700;

	&--stroke {
		@include stroke-width(2px);
		@include stroke-color($navy);
		color: transparent;
	}

	&--shadow {
		text-shadow: 5px 1px $yellow;
    }
    
		&-color {
			&:after {
				background-color: $yellow;
			}
		}
}

.logoWord {
    font-size: 7rem;
	letter-spacing: 6px;
    font-family: $fontHeading;
    color: $navy;
	font-weight: 700;
	margin: 0;
}



//styles for the light/dark mode switch
// .switch {
//     padding: 30px;
// }