header {
	display: flex;

	a {
		background-color: transparent;
	}

	.headerLeft,
	.headerRight {
		height: 100vh;
		min-height: 750px;
		background-size: cover;
	}

	.headerLeft {
		width: 30vw;
		min-width: 550px;
		background-image: url(../assets/headerLeftMono.png);
		// background-color: #E6E6E6;
		position: relative;
		background-position: right;
	}

	.headshotContainer {
		width: 100%;
		height: 850px;
		position: absolute;
		bottom: 0;
		left: 0;
		background-image: url(../assets/headshotNoBgBnW.png);
		background-size: cover;

		&:hover {
			background-image: url(../assets/headshotNoBg.png);
		}
	}

	.headerRight {
		width: 70vw;
		background-image: url(../assets/headerRight3.png);
		position: relative;
		background-position: left;

		.headerText {
			position: absolute;
			top: 200px;
			left: 10px;

			.heading {
				position: absolute;
				right: 400px;
			}

			h1 {
				font-weight: 300;
				margin: 10px;
				color: $white;
			}
		}
	}

	i {
		margin-top: 20px;
		margin-left: 5px;
		font-size: 3rem;
		color: $yellow;

		&:hover,
		&:focus {
			color: $white;
		}
	}

	//Nav Styles
	//button styles
	.navBarFixed {
		position: fixed;
		z-index: 40;
		width: 100vw;
		height: 50px;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		p {
			color: $white;
		}

		p, i {
			padding: 10px 5px;
		}

		button{
			background-color: transparent;
			border: none;
		}

		i {
			margin: 0 20px 0 0;
			cursor: pointer;
		}
	}

	.navBarFixed.scrolled {
		background-color: rgba(0,0,0,0.8) !important;
	}

	
	//pop up nav menu
	.menuHide {
		display: none;
	}

	.menuShow {
		position: fixed;
	    background-color: rgba(0,0,0,0.95);
	    z-index: 50;
	    height: 100vh;
	    width: 100vw;
	    text-align: center;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;

	    i {
	        color: $yellow;
	        font-size: 3rem;
	        position: absolute;
	        top:10px;
	        right: 50px;
	    }

	    ul {
	        display: flex;
	    }

	    li {
	        font-size: 2.5rem;
	        margin: 20px;
	        a {
	            color: $white;
	            padding: 10px 20px;
	        }

	        a:hover,
	        a:focus {
	            border-bottom:2px solid $yellow;
	        }
	    }
	}
}

//SYL CODES LOGO STYLES
.heading {
	font-size: 10rem;
	letter-spacing: 6px;
    margin: 0;
    font-family: $fontHeading;
    font-weight: 700;

	&--stroke {
		@include stroke-width(2px);
		@include stroke-color($black);
		color: transparent;
	}

	&--shadow {
		text-shadow: 5px 1px $yellow;
    }
    
		&-color {
			&:after {
				background-color: $yellow;
			}
		}
}

.logoWord {
    font-size: 10rem;
	letter-spacing: 6px;
    font-family: $fontHeading;
    color: $white;
	font-weight: 700;
	margin: 0;
}
