h1 {
    font-family: $font;
    color: $white;
    font-weight: 300;
}

i,
a {
    color: $purpleLight;

    &:hover {
        color: $yellow;
    }
}

//SYL CODES STYLES
@mixin stroke-width($property) {
	-webkit-text-stroke-width: $property;
	-moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
	-webkit-text-stroke-color: $property;
	-moz-text-stroke-color: $property;
}

.heading {
	font-size: 8rem;
	letter-spacing: 6px;
    margin: 0;
    font-family: $font;
    font-weight: 900;

	&--stroke {
		@include stroke-width(2px);
		@include stroke-color($purpleLight);
		color: transparent;
	}

	&--shadow {
		text-shadow: 5px 1px $yellow;
    }
    
		&-color {
			&:after {
				background-color: $yellow;
			}
		}
}

.logo__word {
    font-size: 5.5rem;
	letter-spacing: 6px;
	margin-left: 10px;
	margin-bottom: 5px;
    font-family: $font;
    color: $purpleLight;
    font-weight: 300;
    // text-shadow: -0.1rem -0.1rem 0.3rem $pink,
    // 0.1rem 0.1rem 0.3rem $pink,
}

.logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: auto;
    margin: 0 auto;
    margin-top: -100px;
}

.switch {
    padding: 30px;
}