//general styling for ther main section!
.about, .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    padding: 50px 0;
}

.title {
    position: relative;
    width: fit-content;
    margin: 30px 200px;
}

.title::before {
    position: absolute;
    height: 2px;
    width: 120px;
    left: -130px;
    top: 15px;
    background-color: $grey;
    content: '';
}