.aboutContainer {
    display: flex;
}

.skills {
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        text-align: center;

        li {
            display: flex;
            flex-direction: column;
        }
    }
}

//Portfolio section
//Individual Images
.monsterImg {
    background-image: url(../assets/portfolio/monster1.png);
}
.monsterDetails {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../assets/portfolio/monster2.png);
}

.obliqueImg {
    background-image: url(../assets/portfolio/oblique1.png);
}
.obliqueDetails {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../assets/portfolio/oblique2.png);
}

.sportImg {
    background-image: url(../assets/portfolio/sport1.png);
}
.sportDetails {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../assets/portfolio/sport2.png);
}

.haikuImg {
    background-image: url(../assets/portfolio/haiku1.png);
}
.haikuDetails {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../assets/portfolio/haiku2.png);
}

.shoeImg {
    background-image: url(../assets/portfolio/shoeKloset1.png);
}
.shoeDetails {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../assets/portfolio/shoeKloset2.png);
}


//For all images/projects
.img,
.details {
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
}

.img {
    display: flex;
    position: relative;
}

.details {
    display:none;
}

.visible {
    display: block;
    position: absolute;
}








