@media (max-width: 950px){
//header section
header{
    .headerLeft {
        min-width: 250px;
        width: 100vw;
    }

    .headerRight {
        width: 100vw;

        .headerText {
            .heading {
                left: 0px;
                top: -100px;
            }
        }
    }
}

//contact section
    .flexContainer {
        p {
            width: 75%;
        }
    }

    .getInTouch{
        form {
            
            input[type="text"],
            input[type="email"] {
                width: 100%;
            }
        }
    }

    //About
    .aboutContainer {
        flex-direction: column;
    }
    .about .aboutContainer div {
        margin-bottom: 0;
    }
}

@media (max-width: 760px) and (hover: none) {
//header styles
    .switch {
        font-size: 1.4rem;
    }

    .heading {
        font-size: 7rem;
    }
    
    .logoWord {
        font-size: 7rem;
    }

    header{
        .headerRight {
            .headerText {
                .heading {
                    top: -80px;
                }
            }
        }
    }
    //about section
    .about h2 {
        width: 100%;
    }

}

@media (max-width: 640px) {
//nav styles
    .menuShow {
        ul{
            flex-direction: column;
        }
    }
}

@media (max-width: 525px){
//general styles
    .title {
        margin: 30px auto !important;
    }
    .wrapper {
        width:90%;
    }

//header styles
    .headerLeft,
    .heading, .logoWord {
        display: none;
    }
    header{
        height:100vh;

        h1 {
            font-weight: 700;
            font-size: 5rem;
        }
        .headerText {
            padding-top: 60px;
        }

        .headerRight {
            background-image: url(../assets/mobile2.jpg);
            background-position: center;
            min-height: 550px;

            a {
                display: block;
                text-align: center;

                i {
                    margin: 20px 0;
                }
            }
        }
    }
    .minimal {
        header{
            .headerRight {
                background-image: url(../assets/mobile3.jpg);
            }
        }
    }
    .navBarFixed {
		button i {
			margin: 0;
		}
	}
//about section
    .about {
        h2, h3 {
            font-size: 2rem;
        }
    }

//skills section 
    .skills ul {
        li {
            width: 80px;
        }
    }

//portfolio section
    .portfolio {

        .project,
        .details {
            position: static;
        }

        .projectList{
            .project {
                width: 322px;
                height: fit-content;
            }

            .project {
                .details {
                    width: 320px;
                    margin: 5px 0;
                    padding: 15px;
                    p{
                        font-size: 1.6rem;
                    }
                }
                .projectImg {
                    width: 320px;
                    height: 320px;
                }
            }
        }
    }

    .intro {
        border: none;
        background-color: transparent;
        min-height: fit-content;
        height: 175px;

        p:nth-of-type(2){
            display: none;
        }
    }

    .details {
        p {
            font-size: 1.6rem;
        }
    
        li {
            padding: 10px;
            margin: 5px 10px;
        }
    }
    
//contact section
    form {
        align-items: center;
    }

    .getInTouch {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;

        ul {
            flex-direction: row;
            margin-bottom: 25px;
            
            li {
                margin: 10px 15px;
            }
        }
    }

    .flexContainer {
        p {
            width: 100%;
        }
    }
}


@media(max-width: 390px) {

    .portfolio {
        .projectList{
            .project {
                width: 277px !important;
            }

            .project {
                .details {
                    width: 277px !important;
                    height: fit-content
                }
                .projectImg {
                    width: 275px;
                    height: 275px;
                }
            }
        }
    }
}

