.portfolio {
    padding: 50px 0;
    background-color: $yellow;
    h2 {
        margin: 0 auto;
    }
}

.projectList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
}
    
.project {
    position: relative;
    overflow: hidden;
    a {
        font-weight: 700;
        color: $black;
    }
}

.intro, 
.project, 
.details,
.projectImg {
    height: 455px;
    width: 455px;
    min-width: 250px;
    min-height: 250px;
    margin: 5px;
}

.intro,
.details {
    background-color: $white;
    border: 1px solid $black;
    padding: 20px;
}

.projectImg {
    position:relative;
    
    img {
        position:absolute;
        left:0;
        transition: opacity 1s ease-in-out;
    }

    .minImg {
        display: none;
    }
}

    .title {
        padding-bottom: 50px;
    }

.details {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;

    h3 {
        margin: 0 auto; 
    }

    .skillsList {
        font-family: $fontHeading;
        font-weight: 700;
        text-align: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        background-color: $black;
        color: $white;
        padding: 10px;
        margin: 10px;
        font-size: 1.6rem;
        border-radius: 5px;
    }

    .links li {
        background-color: transparent;

        a {
            background-color: $white;
            border: 2px solid $black;
            color: $black;
            text-transform: uppercase;
            padding: 10px 20px;

            &:hover,
            &:focus-within {
                background-color: $yellow;
            }
        }
    }
}

// for details div
.visible {
    display: block;
}


//change photo on hover 
@media (hover: hover) { 
    .projectImg {
        img.top:hover {
            opacity: 0;
            cursor: pointer;
        }
    }
}