html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-color: #000004 #ffffff;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: #edff00;
  color: #000004;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  color: white;
}

.skipLink:focus {
  left: 10px;
  color: #000004;
  background-color: #edff00;
}

.minimal header a {
  border: none;
}

.minimal a {
  background-color: transparent;
  border-bottom: 1px solid #C4C4C4;
}

.minimal h1 {
  color: #000004 !important;
}

.minimal .navBarFixed.scrolled {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.minimal .headerLeft {
  background-image: none;
}

.minimal .headerRight {
  background-image: url(../assets/codeMono.png);
}

.minimal .headerRight button {
  color: #000004 !important;
}

.minimal .headerRight i,
.minimal .navBarFixed i,
.minimal .logoWord {
  color: #000004;
}

.minimal .title::before {
  background-color: #000004 !important;
}

.minimal .menu i {
  color: #ffffff;
}

.minimal .about, .minimal .portfolio {
  background-color: #ffffff;
}

.minimal .projectImg .minImg {
  display: block;
}

.minimal .projectImg .orgImg {
  display: none;
}

.minimal .getInTouch a {
  border: none;
}

.minimal .getInTouch form button {
  background-color: #000004;
  color: #ffffff;
}

.minimal .menuShow li a:hover,
.minimal .menuShow li a:focus {
  border-bottom: 2px solid #ffffff;
}

.minimal .heading--stroke {
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000004;
  -moz-text-stroke-color: #000004;
  color: #ffffff;
}

.minimal .heading--shadow {
  text-shadow: 5px 1px #000004;
}

.minimal .heading-color:after {
  background-color: #000004;
}

.minimal .monsterImg {
  background-image: url(../assets/portfolio/monsterMin.png);
}

.minimal .obliqueImg {
  background-image: url(../assets/portfolio/obliqueMin.png);
}

.minimal .sportImg {
  background-image: url(../assets/portfolio/sportMin.png);
}

.minimal .haikuImg {
  background-image: url(../assets/portfolio/haikuMin.png);
}

.minimal .shoeImg {
  background-image: url(../assets/portfolio/shoeMin.png);
}

.minimal .links li a:hover, .minimal .links li a:focus-within {
  background-color: #000004 !important;
  color: #ffffff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a {
  background-color: transparent;
}

header .headerLeft,
header .headerRight {
  height: 100vh;
  min-height: 750px;
  background-size: cover;
}

header .headerLeft {
  width: 30vw;
  min-width: 550px;
  background-image: url(../assets/headerLeftMono.png);
  position: relative;
  background-position: right;
}

header .headshotContainer {
  width: 100%;
  height: 850px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../assets/headshotNoBgBnW.png);
  background-size: cover;
}

header .headshotContainer:hover {
  background-image: url(../assets/headshotNoBg.png);
}

header .headerRight {
  width: 70vw;
  background-image: url(../assets/headerRight3.png);
  position: relative;
  background-position: left;
}

header .headerRight .headerText {
  position: absolute;
  top: 200px;
  left: 10px;
}

header .headerRight .headerText .heading {
  position: absolute;
  right: 400px;
}

header .headerRight .headerText h1 {
  font-weight: 300;
  margin: 10px;
  color: #ffffff;
}

header i {
  margin-top: 20px;
  margin-left: 5px;
  font-size: 3rem;
  color: #edff00;
}

header i:hover, header i:focus {
  color: #ffffff;
}

header .navBarFixed {
  position: fixed;
  z-index: 40;
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navBarFixed p {
  color: #ffffff;
}

header .navBarFixed p, header .navBarFixed i {
  padding: 10px 5px;
}

header .navBarFixed button {
  background-color: transparent;
  border: none;
}

header .navBarFixed i {
  margin: 0 20px 0 0;
  cursor: pointer;
}

header .navBarFixed.scrolled {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

header .menuHide {
  display: none;
}

header .menuShow {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 50;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menuShow i {
  color: #edff00;
  font-size: 3rem;
  position: absolute;
  top: 10px;
  right: 50px;
}

header .menuShow ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menuShow li {
  font-size: 2.5rem;
  margin: 20px;
}

header .menuShow li a {
  color: #ffffff;
  padding: 10px 20px;
}

header .menuShow li a:hover,
header .menuShow li a:focus {
  border-bottom: 2px solid #edff00;
}

.heading {
  font-size: 10rem;
  letter-spacing: 6px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.heading--stroke {
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000004;
  -moz-text-stroke-color: #000004;
  color: transparent;
}

.heading--shadow {
  text-shadow: 5px 1px #edff00;
}

.heading-color:after {
  background-color: #edff00;
}

.logoWord {
  font-size: 10rem;
  letter-spacing: 6px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
}

.about, .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 0;
}

.title {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px 140px;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.title::before {
  position: absolute;
  height: 2px;
  width: 120px;
  left: -130px;
  top: 15px;
  background-color: #C4C4C4;
  content: '';
}

.about {
  background-color: #E6E6E6;
}

.about .cursor {
  -webkit-animation: flashingText 1s infinite;
          animation: flashingText 1s infinite;
  font-weight: 300;
}

@-webkit-keyframes flashingText {
  0% {
    color: #000004;
  }
  49% {
    color: #000004;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000004;
  }
}

@keyframes flashingText {
  0% {
    color: #000004;
  }
  49% {
    color: #000004;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000004;
  }
}

.about h2 {
  width: 50%;
  margin: 0 auto;
}

.about h3 {
  margin: 0 auto;
}

.about button {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  border: 2px solid transparent;
  background-color: #000004;
  padding: 20px;
  margin: 30px 0;
}

.about button:hover, .about button:focus {
  color: #000004;
  background-color: #ffffff;
  border: 2px solid #000004;
}

.about p {
  text-align: left;
}

.about .title {
  margin: 30px auto;
  padding: 0;
}

.about .aboutTitle {
  margin: 50px auto;
}

.skills {
  background-color: #ffffff;
  padding-bottom: 100px;
}

.skills .title {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.skills p {
  text-align: left;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
}

.skills ul li {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
}

.skills ul li i {
  font-size: 6rem;
}

.skills ul:last-of-type {
  color: #C4C4C4;
}

.portfolio {
  padding: 50px 0;
  background-color: #edff00;
}

.portfolio h2 {
  margin: 0 auto;
}

.projectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project {
  position: relative;
  overflow: hidden;
}

.project a {
  font-weight: 700;
  color: #000004;
}

.intro,
.project,
.details,
.projectImg {
  height: 455px;
  width: 455px;
  min-width: 250px;
  min-height: 250px;
  margin: 5px;
}

.intro,
.details {
  background-color: #ffffff;
  border: 1px solid #000004;
  padding: 20px;
}

.projectImg {
  position: relative;
}

.projectImg img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.projectImg .minImg {
  display: none;
}

.title {
  padding-bottom: 50px;
}

.details {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}

.details h3 {
  margin: 0 auto;
}

.details .skillsList {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}

.details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details li {
  background-color: #000004;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  font-size: 1.6rem;
  border-radius: 5px;
}

.details .links li {
  background-color: transparent;
}

.details .links li a {
  background-color: #ffffff;
  border: 2px solid #000004;
  color: #000004;
  text-transform: uppercase;
  padding: 10px 20px;
}

.details .links li a:hover, .details .links li a:focus-within {
  background-color: #edff00;
}

.visible {
  display: block;
}

@media (hover: hover) {
  .projectImg img.top:hover {
    opacity: 0;
    cursor: pointer;
  }
}

.contact {
  padding: 50px 0;
}

.contact h2 {
  margin-bottom: 0;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexContainer p {
  width: 50%;
}

.getInTouch {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.getInTouch ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.getInTouch a {
  background-color: transparent;
  color: #C4C4C4;
  font-size: 3rem;
}

.getInTouch a:hover, .getInTouch a:focus {
  color: #000004;
}

.getInTouch form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

.getInTouch form .formInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.getInTouch form input[type="text"],
.getInTouch form input[type="email"],
.getInTouch form textarea {
  border: none;
  margin-bottom: 30px;
  padding: 10px;
}

.getInTouch form input[type="text"]:hover, .getInTouch form input[type="text"]:focus,
.getInTouch form input[type="email"]:hover,
.getInTouch form input[type="email"]:focus,
.getInTouch form textarea:hover,
.getInTouch form textarea:focus {
  background-color: rgba(190, 190, 193, 0.3);
}

.getInTouch form input[type="text"],
.getInTouch form input[type="email"] {
  width: 45%;
  border-bottom: 1px solid #C4C4C4;
}

.getInTouch form textarea {
  width: 100%;
  resize: none;
  border: 1px solid #C4C4C4;
  height: 200px;
}

.getInTouch form button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  color: #000004;
  background-color: #edff00;
  border: 1px solid #000004;
}

.getInTouch form button:hover, .getInTouch form buttonfocus {
  background-color: #ffffff;
  cursor: pointer;
}

.getInTouch form ::-webkit-input-placeholder {
  color: #C4C4C4;
  opacity: 1;
}

.getInTouch form :-ms-input-placeholder {
  color: #C4C4C4;
  opacity: 1;
}

.getInTouch form ::-ms-input-placeholder {
  color: #C4C4C4;
  opacity: 1;
}

.getInTouch form ::placeholder {
  color: #C4C4C4;
  opacity: 1;
}

footer {
  background-color: #000004;
  color: #ffffff;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 10px;
}

@media (max-width: 950px) {
  header .headerLeft {
    min-width: 250px;
    width: 100vw;
  }
  header .headerRight {
    width: 100vw;
  }
  header .headerRight .headerText .heading {
    left: 0px;
    top: -100px;
  }
  .flexContainer p {
    width: 75%;
  }
  .getInTouch form input[type="text"],
  .getInTouch form input[type="email"] {
    width: 100%;
  }
}

@media (max-width: 760px) and (hover: none) {
  .switch {
    font-size: 1.4rem;
  }
  .heading {
    font-size: 7rem;
  }
  .logoWord {
    font-size: 7rem;
  }
  header .headerRight .headerText .heading {
    top: -80px;
  }
  .about h2 {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .menuShow ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 525px) {
  .title {
    margin: 30px auto !important;
  }
  .wrapper {
    width: 90%;
  }
  .headerLeft,
  .heading, .logoWord {
    display: none;
  }
  header {
    height: 100vh;
  }
  header h1 {
    font-weight: 700;
    font-size: 5rem;
  }
  header .headerText {
    padding-top: 60px;
  }
  header .headerRight {
    background-image: url(../assets/mobile2.png);
    background-position: center;
    min-height: 550px;
  }
  header .headerRight a {
    display: block;
    text-align: center;
  }
  header .headerRight a i {
    margin: 20px 0;
  }
  .minimal header .headerRight {
    background-image: url(../assets/mobile3.png);
  }
  .navBarFixed button i {
    margin: 0;
  }
  .about h2, .about h3 {
    font-size: 2rem;
  }
  .skills ul li {
    width: 80px;
  }
  .portfolio .project,
  .portfolio .details {
    position: static;
  }
  .portfolio .projectList .project {
    width: 322px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .portfolio .projectList .project .details {
    width: 320px;
    margin: 5px 0;
    padding: 15px;
  }
  .portfolio .projectList .project .details p {
    font-size: 1.6rem;
  }
  .portfolio .projectList .project .projectImg {
    width: 320px;
    height: 320px;
  }
  .intro {
    border: none;
    background-color: transparent;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 175px;
  }
  .intro p:nth-of-type(2) {
    display: none;
  }
  .details p {
    font-size: 1.6rem;
  }
  .details ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .details li {
    padding: 10px;
    margin: 5px 10px;
  }
  form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .getInTouch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0;
  }
  .getInTouch ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 25px;
  }
  .getInTouch ul li {
    margin: 10px 15px;
  }
  .flexContainer p {
    width: 100%;
  }
}

@media (max-width: 390px) {
  .aboutTitle {
    height: 180px;
  }
  .portfolio .projectList .project {
    width: 277px !important;
  }
  .portfolio .projectList .project .details {
    width: 277px !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .portfolio .projectList .project .projectImg {
    width: 275px;
    height: 275px;
  }
}
