html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1280px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .headerLeft,
header .headerRight {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

header .headerLeft {
  width: 60vw;
  background-image: url(../assets/backgroundHeaderLeft.png);
  position: relative;
}

header .headerLeft p {
  position: absolute;
  top: 200px;
  right: 10px;
}

header .headerRight {
  width: 40vw;
  min-width: 475px;
  background-image: url(../assets/backgroundHeaderRight.png);
  position: relative;
}

header .headerRight ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .headerRight ul li {
  padding: 5px 10px;
  margin: 20px 10px;
}

header .headerRight ul li a {
  color: #0c0f0a;
}

header .headerRight .headerText {
  position: absolute;
  top: 212px;
  left: 10px;
}

header i {
  font-size: 4rem;
}

header i:hover {
  color: #F9E900;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.heading {
  font-size: 8rem;
  letter-spacing: 6px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.heading--stroke {
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0A1045;
  -moz-text-stroke-color: #0A1045;
  color: transparent;
}

.heading--shadow {
  text-shadow: 5px 1px #F9E900;
}

.heading-color:after {
  background-color: #F9E900;
}

.logoWord {
  font-size: 7rem;
  letter-spacing: 6px;
  font-family: "Poppins", sans-serif;
  color: #0A1045;
  font-weight: 700;
  margin: 0;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.monsterImg {
  background-image: url(../assets/portfolio/monster1.png);
}

.monsterDetails {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8))), url(../assets/portfolio/monster2.png);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../assets/portfolio/monster2.png);
}

.obliqueImg {
  background-image: url(../assets/portfolio/oblique1.png);
}

.obliqueDetails {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8))), url(../assets/portfolio/oblique2.png);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../assets/portfolio/oblique2.png);
}

.sportImg {
  background-image: url(../assets/portfolio/sport1.png);
}

.sportDetails {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8))), url(../assets/portfolio/sport2.png);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../assets/portfolio/sport2.png);
}

.haikuImg {
  background-image: url(../assets/portfolio/haiku1.png);
}

.haikuDetails {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8))), url(../assets/portfolio/haiku2.png);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../assets/portfolio/haiku2.png);
}

.shoeImg {
  background-image: url(../assets/portfolio/shoeKloset1.png);
}

.shoeDetails {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8))), url(../assets/portfolio/shoeKloset2.png);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../assets/portfolio/shoeKloset2.png);
}

.img,
.details {
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: center;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.details {
  display: none;
}

.visible {
  display: block;
  position: absolute;
}
